.venv
__psychache__/
*.pyc
*.pyo
*.pyd
*.swp
*.swo
.DS_Store
.idea/
.vscode/
*.log
env/
build/
dist/
*.egg-info/
.eggs/
.coverage
htmlcov/
.tox/
.nox/
.pytest_cache/
.pyre/
.mypy_cache/
.pytype/
.pyright/
.ipynb_checkpoints/
.cache/
.pycache/

.env
data_pdfs
text_chunks_json
rag_audit
vector_index